services:
  - type: web
    name: ticketgenv
    plan: free
    env: static
    buildCommand: ""
    staticPublishPath: .
    envVars:
      - key: NODE_ENV
        value: production
    routes:
      - type: rewrite
        source: /*
        destination: /index.html
